@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

#container {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  margin: 0;
  padding: 20px;
}
#container #left {
  color: hsl(234, 29%, 20%);
  padding: 2rem 1rem;
}
#container #left .left-info h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
#container #left .left-info p {
  margin-bottom: 15px;
  font-size: 1rem;
}
#container #left .left-info ul {
  font-size: 1rem;
  padding: 0;
  margin-bottom: 25px;
}
#container #left .left-info ul li {
  display: flex;
  align-items: flex-start;
  list-style-position: inside;
  margin-bottom: 10px;
}
#container #left .left-info ul li:before {
  content: url(/assets/images/icon-list.svg);
  height: 21px;
  margin-right: 10px;
}
#container #form .form-item {
  display: flex;
  flex-direction: column;
}
#container #form .form-item label {
  display: flex;
  justify-content: space-between;
}
#container #form .form-item label p {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 10px;
}
#container #form .form-item label #invalid-email {
  display: none;
}
#container #form .form-item label #invalid-email.active {
  display: initial;
  color: hsl(4, 100%, 67%);
  font-size: 0.9rem;
}
#container #form #email {
  margin-bottom: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid hsl(231, 7%, 60%);
}
#container #form #email:focus {
  outline: none;
  border: 1px solid hsl(231, 7%, 60%);
}
#container #form #email.active {
  background-color: hsla(4, 100%, 67%, 0.2);
  border: 1px solid hsl(4, 100%, 67%);
}
#container #form #submit-btn {
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  font-weight: 700;
}
#container #form #submit-btn:hover {
  cursor: pointer;
  background: rgb(226, 58, 128);
  box-shadow: 0 10px 30px #e23a80;
  background: linear-gradient(90deg, rgb(226, 58, 128) 0%, rgb(255, 98, 87) 76%);
}

#container.success {
  display: none;
}

.confirmed-message {
  background-color: hsl(0, 0%, 100%);
  width: 450px;
  padding: 25px;
  border-radius: 18px;
  display: none;
  line-height: 1.2;
}
.confirmed-message img {
  width: 80px;
}
.confirmed-message h2 {
  font-size: 3rem;
  margin-top: 32px;
}
.confirmed-message p {
  margin: 32px 0;
}
.confirmed-message #dismiss-message {
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 15px 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  font-weight: 700;
}
.confirmed-message #dismiss-message:hover {
  background: linear-gradient(90deg, rgb(226, 58, 128) 0%, rgb(255, 98, 87) 76%);
  cursor: pointer;
  box-shadow: 0 10px 30px #e23a80;
}
.confirmed-message #user-email {
  font-weight: 700;
}

.confirmed-message.active {
  display: block;
  width: 450px;
}

@media (max-width: 768px) {
  body {
    display: initial;
  }
  #container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  #container #left {
    padding: 10px 20px;
    grid-row: 2;
    margin-bottom: 30px;
  }
  #container #left h1 {
    margin-bottom: 20px;
  }
  #container #left p {
    margin-right: 10px;
  }
  #container #left ul li {
    margin-right: 10px;
    margin-bottom: 16px;
  }
  #container #right picture {
    width: 100%;
    height: auto;
  }
  #confirmed-message {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}/*# sourceMappingURL=styles.css.map */