@import "_reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Colors

$clr-primary-tomato: hsl(4, 100%, 67%);
$clr-primary-gradient: linear-gradient(
  90deg,
  rgba(255, 88, 107, 1) 0%,
  rgba(255, 101, 71, 1) 100%
);
$clr-neutral-drk-slt-grey: hsl(234, 29%, 20%);
$clr-neutral-chrcl-grey: hsl(231, 18%, 26%);
$clr-neutral-grey: hsl(231, 7%, 60%);
$clr-neutral-white: hsl(0, 0%, 100%);

// Typography
$ff-default: "Roboto", sans-serif;
// Font-weight
$fw-400: 400;
$fw-700: 700;
// Font-size
$fs-100: 0.9rem;
$fs-200: 1rem;
$fs-300: 1.1rem;
$fs-400: 1.3rem;
$fs-500: 1.5rem;
$fs-600: 2rem;
$fs-700: 2.4rem;

body {
  font-family: $ff-default;
  background-color: $clr-neutral-drk-slt-grey;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: $clr-neutral-white;
  border-radius: 16px;
  padding: 20px; //TO DO fix padding and add margin

  .left {
    color: $clr-neutral-drk-slt-grey;
    margin-left: 20px;
    margin-bottom: 20px;

    h1 {
      font-size: $fs-700;
      margin-bottom: 15px;
    }
  }
}

.confirmed-message {
  display: none;
}
